@media screen and (min-width: 480px) {
  .username-input {
    width: 60%;
  }
  .login .login-submit {
    width: 60%;
  }
}

@media screen and (min-width: 767px) {
  .username-input {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    margin-right: .25em;
  }
  .login__content {
    padding-top: 6em;
  }
  .login .login-submit {
    width: 35%;
    display: inline-block;
    vertical-align: middle;
  }

  .online-users-mobile {
    display: none;
  }
  .online-users-desktop {
    display: block;
  }

  .chat__header {
    .icon-users {
      display: none;
    }
  }
  .messages {
    left:250px;
  }
  .typing-action {
    left:250px;
  }
  .chat__footer {
    left: 250px;
  }
  .input-message {
    width: 85%;
  }
  .submit-message {
    width: 15%;
  }
}

@media screen and (min-width: 1024px) {
  .username-input {
    width: 35%;
  }
  .login .login-submit {
    width: 20%;
  }
}