.page {
  height: 100%;
  position: relative;
  width: 100%;
}

/*
 * Login page
 */

.login.page {
  text-align: center;
  background-color: $login-page-background-color;
  position: relative;
}
.login .title {
  font-size: 2.5em;
  padding: 1em .25em .5em .25em;
  color: $login-page-title-color;
}
.login .subtitle {
  padding: .75em .25em;
  font-size: 1.5em;
  color: $login-page-subtitle-color;
  font-weight: normal;
}
.username-input {
  width: 80%;
  height: 50px;
  font-size: 1.5em;
  display: block;
  margin: 0 auto .5em auto;
  padding-left: .25em;
  border: none;
  color: $input-text-color;
}

.login .login-submit {
  margin: 0 auto;
  display: block;
  width: 80%;
  background-color: $login-button-background-color;
  font-weight: bold;
  border: none;
  padding: 1em 2em;
  color: $login-button-text-color;
  font-size: 1em;
  cursor: pointer;
}

.login__footer {
  position: absolute;
  bottom: 2em;
  left:0; right:0;
  text-align: center;
}
.author {
  font-size: .75em;
  padding: 0 1em;
  color: $author-text-color;
  letter-spacing: .18em;
  a {
    color: $author-text-color;
  }
}

/*
 * Online users
 */
.online-users {
  position: absolute;
  top: 50px;
  bottom: 0;
  overflow-y: auto;
  width: 250px;
  background-color: $online-users-background-color;
}
.online-users-mobile {
  display: none;
  z-index: 2;
  left:0;
}
.online-users-desktop {
  display: none;
}
.online-users__items {
  margin: 0;
  width: 250px;
  padding: 0 0 0 1em;
  list-style: none;
}
.online-users__item {
  padding: .5em 0;
  color: $online-users-text-color;
}
.online-users__item--status {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: $online-users-status-background-color;
  border-radius: 50%;
  margin-right: .5em;
}
/*
 * Chat room
 */

.chat.page {
  display: none;
}
.chat__header {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  padding: .75em .25em;
  background-color: $header-background-color;
  text-align: center;
  border-bottom: 5px solid $border;
  box-sizing: border-box;
  .icon-users {
    position: absolute;
    top: 10px;
    left: 15px;
    color: $header-text-color;
    font-size: 1.5em;
    cursor: pointer;
  }
}
.chat__header-title {
  font-size: 1.25em;
  color: $header-text-color;
}
.log {
  color: $log-text-color;
  font-size: .75em;
  padding: 5px 10px;
  margin: 0;
  font-style: italic;
}
.messages {
  position: absolute;
  z-index: 1;
  list-style: none;
  overflow-y: auto;
  margin: 0;
  top: 50px; left:0; right:0; bottom: 90px;
}
.messages--mobile {
  top:260px;
}
.messages li {
  padding: 5px 10px;
}
.typing-action {
  list-style: none;
  position: absolute;
  bottom: 60px;
  height: 30px;
  left: 0;
  right: 0;
}
.typing-users {
  color: $typing-user-text-color;
  font-size: .75em;
  padding-top: .65em;
  padding-left: 1em;
  font-style: italic;
  width: 100%;
  border-top: 1px solid $border;
  box-sizing: border-box;
}
.message__username {
  color: $message-username-text-color;
  font-weight: bold;
  font-size: 1.15em;
  margin-right: .5em;
}
.chat__footer {
  border-top: 5px solid $border;
  position: absolute;
  left:0;right:0;bottom: 0;
  height: 60px;
  box-sizing: border-box;
}
.input-message {
  height: 55px;
  width: 75%;
  border: none;
  font-size: 1.5em;
  padding-left: .25em;
  color: $input-text-color;
  float: left;
}
.submit-message {
  float: left;
  height: 55px;
  width: 25%;
  cursor: pointer;
  text-align: center;
  color: $send-button-text-color;
  background-color: $send-button-background-color;
  font-size: 1em;
  font-weight: bold;
  border: none;
}