* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* login */
.login.page {
  text-align: center;
}
.login .title {
  margin: 1em 0;
  font-size: 3em;
}
.usernameInput {
  width: 50%;
  height: 50px;
  font-size: 2em;
  vertical-align: bottom;
}
.login .login-submit {
  vertical-align: bottom;
  background-color: #212121;
  border: none;
  padding: 1em 2em;
  color: white;
  font-size: 1em;
  cursor: pointer;
}

/* chat room */

.chat.page {
  display: none;
}
.log {
  color: gray;
  font-size: .75em;
  margin: 5px;
  font-style: italic;
}
.log--title {
  text-align: center;
  font-style: normal;
  font-size: 1.5em;
  color: #212121;
  font-weight: bold;
}
.messages {
  overflow-y: scroll;
  margin: 0;
  padding: 0 0 60px 0;
  height: 100%;
}
.messages li {
  padding: 5px 10px;
}
.message__username {
  font-style: italic;
  color: #2854A5;
  font-weight: bold;
  margin-right: .5em;
}
.inputMessage {
  border: 3px solid #212121;
  height: 60px;
  font-size: 2em;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}