* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input {
  -webkit-appearance: none;
  -webkit-border-radius:0;
  border-radius:0;
}
.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* login */
.login.page {
  text-align: center;
  background-color: #009688;
  position: relative;
}
.login .title {
  font-size: 2.5em;
  padding: 1em .25em .5em .25em;
  color: #FFFFFF;
}
.login .subtitle {
  padding: .75em .25em;
  font-size: 1.5em;
  color: #FFFFFF;
  font-weight: normal;
}
.username-input {
  width: 90%;
  height: 50px;
  font-size: 1.5em;
  display: block;
  margin: 0 auto .5em auto;
  padding-left: .25em;
  border: none;
  color: #009688;
}

.login .login-submit {
  margin: 0 auto;
  display: block;
  width: 75%;
  background-color: #FFFFFF;
  font-weight: bold;
  border: none;
  padding: 1em 2em;
  color: #009688;
  font-size: 1em;
  cursor: pointer;
}

/* chat room */

.chat.page {
  display: none;
}
.log {
  color: gray;
  font-size: .75em;
  margin: 5px;
  font-style: italic;
}
.log--title {
  text-align: center;
  font-style: normal;
  font-size: 1.5em;
  color: #212121;
  font-weight: bold;
}
.messages {
  list-style: none;
  overflow-y: scroll;
  margin: 0;
  padding: 0 0 100px 0;
  height: 100%;
}
.messages li {
  padding: 5px 10px;
}
.typing-action {
  list-style: none;
  padding-left: 1em;
  position: absolute;
  bottom: 65px;
  height: 35px;
  left: 0;
  right: 0;
}
.message__username {
  font-style: italic;
  color: #2854A5;
  font-weight: bold;
  margin-right: .5em;
}
.input-message {
  border: 3px solid #212121;
  height: 60px;
  font-size: 2em;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .username-input {
    width: 65%;
  }
  .login .login-submit {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .username-input {
    width: 50%;
  }
  .login .login-submit {
    width: 35%;
  }
}

@media screen and (min-width: 1024px) {
  .username-input {
    width: 35%;
  }
  .login .login-submit {
    width: 20%;
  }
}