<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes"/>
    <title>Chat de dingue !</title>
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>

    <section class="login page">
      <div class="login__content">
        <h1 class="title">Instant-M</h1>
        <h3 class="subtitle">What's your nickname&nbsp;?</h3>
        <input class="username-input" type="text" placeholder="Type here…"/>
        <button type="button" class="login-submit">Let's chat&nbsp;!</button>
      </div>
      <div class="login__footer">
        <p class="author">Make with <i class="icon icon-heart"></i> by <a href="http://www.kevinbizien.com" target="_blank">kbizien</a>. Powered by <a href="https://nodejs.org/" target="_blank">NodeJs</a> and <a href="http://socket.io/" target="_blank">Socket.io</a>, hosted by <a href="https://www.heroku.com/" target="_blank">Heroku</a>.</p>
      </div>
    </section>

    <section class="chat page">
      <div class="chat__header">
        <i class="icon icon-users"></i>
        <h1 class="chat__header-title">Chat ma gueule. Wesh !</h1>
      </div>

      <section class="online-users online-users-mobile">
        <ul class="online-users__items"></ul>
      </section>

      <section class="online-users online-users-desktop">
        <ul class="online-users__items"></ul>
      </section>

      <ul class="messages"></ul>
      <ul class="typing-action"></ul>

      <div class="chat__footer">
        <input class="input-message" placeholder="Type here…" />
        <button type="button" class="submit-message">Send</button>
      </div>
    </section>

  <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.3.4.js"></script>
  <script src="js/script.js"></script>
  </body>
</html>
