<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes"/>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <section class="login page">
      <div>
        <h3 class="title">What's your nickname?</h3>
        <input class="username-input" type="text" />
        <button type="button" class="login-submit">Let's chat !</button>
      </div>
    </section>

    <section class="chat page">
      <ul class="messages"></ul>
      <ul class="typing-action">
      </ul>
      <input class="input-message" placeholder="Type here..." />
    </section>

  <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.3.4.js"></script>
  <script src="js/script.js"></script>
  </body>
</html>